extends layout

block content
    .loginForm
        form(method='post', name='', action='')
            .box
                input.iText(type='text' name='id' placeholder='로그인')
                br
                input.iText(type='password' name='pa' placeholder ='비밀번호')
                br
                p
            input.loginBtn(type='submit' value='로그인')



