extends layout

block content
    form(name="register",method="post")
        p ID
        input#id(name='id')
        p password
        input#password(name='pa')
        p email address
        input#email(name='email')
        p phone number
        input#phone(name='phone')
        p name
        input#name(name='name')

        input(type='submit', value='Sign up')